Resolved value for Unicode extension values when "true" is removed?

`new Intl.Locale("en-u-kf-true").toString()` is `"en-u-kf"`, because of step 9 in https://tc39.github.io/proposal-intl-locale/#sec-apply-unicode-extension-to-tag:
> Let newExtension be the canonicalized Unicode BCP 47 U Extension based on attributes and keywords as defined in UTS 35 section 3.6.

But it looks like `new Intl.Locale("en-u-kf-true").caseFirst` is allowed to be either `"true"` or `""`, depending on whether or not `CanonicalizeLanguageTag` removes `"true"`. From https://tc39.github.io/ecma402/#sec-canonicalizelanguagetag
>  The specifications for extensions to BCP 47 language tags, such as RFC 6067, may include canonicalization rules for the extension subtag sequences they define that go beyond the canonicalization rules of RFC 5646 section 4.5. Implementations are allowed, but not required, to apply these additional rules. 

If we interpret this section to also allow UTS 35 section 3.6, `""` is allowed to be returned from `caseFirst`. 

Maybe UnicodeExtensionComponents just needs to be changed to convert the empty string to `"true"`?

Did we come to a conclusion on this issue? How is this implemented in V8? cc @FrankYFTang @sffc

I don't think we've discussed this issue.  I added it to the discuss board so we can cover it at the next meeting.

UTS 35 is now required, which means any "true" values in *type* productions are removed when canonicalising. 